@use '/styles/common.module.scss' as *;

.neptune-right-details {
  &__hr {
    @include pale-hr;
    @apply mt-8;
  }
  &__borrow-sol {
    width: 100%;
    border-radius: 8px;
    height: 52px;
    font-weight: bold;
    margin-top: 24px;
    @apply justify-center;
    @apply text-center;
    @apply bg-blue-light;

    &:hover {
      @apply bg-blue-lighter;
    }

    &:not([disabled]):hover {
      @apply bg-blue-lighter;
    }
  }
}
