.neptune-button{
  &__borrow-sol {
    width: 100%;
    border-radius: 8px;
    height: 52px;
    font-weight: bold;
    margin-top: 24px;
  }
  &__bg-gray-light-small {
    width: 36px;
    height: 26px;
    border-radius: 4px;
    @apply bg-gray-light;
  }
  &__bg-gray-light-small-active {
    width: 36px;
    height: 26px;
    border-radius: 4px;
    @apply bg-dark-primary;
  }
}